*,
*:before,
*:after {
  webkit-box-sizing: border-box;
     moz-box-sizing: border-box;
         box-sizing: border-box;
}

.frame {
  width: 670px;
  height: 670px;
  background-color: #404556;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 130px;
  height: 220px;
  position: relative;
}

.bulb {
  margin: 0 auto;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 100%;
  background-color: #fff35c;
}

.stem {
  width: 90px;
  height: 95px;
  position: absolute;
  top: 65px;
  left: 20px;
  background-color: #fff35c;
}

.right-cut-container {
  position: absolute;
  left: 95px;
  top: 80px;
}

.cut-container {
  width: 40px;
  height: 140px;
  position: relative;
}

.straight-cut {
  /* border: solid 1px black; */
  width: 100%;
  height: 50%;
  background-color: #404556;
}

.angle-cut {
  transform-origin: bottom right;
  transform: rotate(28deg);
}

.arc-cut {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #404556;
  position: absolute;
  top: 30px;
}

.left-cut-container {
  position: absolute;
  right: 95px;
  top: 80px;
}

.left-cut-container .angle-cut {
  transform-origin: bottom left;
  transform: rotate(-28deg);
}

.left-cut-container .arc-cut {
  right: 0;

}

.bar-container {
  margin: 0 auto;
  width: 55px;
  margin-top: 40px;
}

.bar {
  width: 100%;
  height: 10px;
  background-color: #e5e5e5;
  border-radius: 5px;
  margin-bottom: 10px;
}

.trapezoid {
  margin: 0 auto;
  height: 20px;
  width: 50px;
  background-color: #e5e5e5;
  position: relative;
}

.trapezoid #left-cut {
  position: absolute;
  right: -15px;
  bottom: 0;
  height: 200%;
  width: 50%;
  transform-origin: bottom left;
  transform: rotate(20deg);
  background-color: #404556;
}

.trapezoid #right-cut {
  position: absolute;
  left: -15px;
  bottom: 0;
  height: 200%;
  width: 50%;
  transform-origin: bottom right;
  transform: rotate(-20deg);
  background-color: #404556;
}

.glow {
  position: absolute;
  top: -25%;
  left: -50%;
  width: 200%;
  height: 0;
  padding-top: 200%;
  border-radius: 100%;
  box-shadow: 0 0 200px 100px rgba(255, 243, 92, 0.2),
              inset 0 0 100px 100px rgba(255, 243, 92,0.2);
  z-index: 1;
}
