*,
*::after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin: 5px 10px;
}

body {
  width: 960px;
  background: #fff;
  font-family: sans-serif;
  border: solid 1px rgba(0, 0, 0, 0.05);
  padding: 0 5px;

}

header {
  display: block;
  font-family: Arial;
  background-color: #453F35;
  height: 300px;
  color: #fff;
  text-align: center;
  vertical-align: top;
  margin-bottom: 180px;
}

.header:after {
  clear: both;
}

.name {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  margin: 0 0 20px 200px;
}

.social-nav {
  float: right;
  vertical-align: top;
  text-align: left;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.social-nav li {
  display: inline-block;
}

header img {
  width: 95%;
  display: inline-block;
  border: solid 1px #000;
}

/* Form stuff */
form {
  /* text-align: center; */
  margin: 0 auto;
  display: block;
  font: 600 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

form span {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  width: 120px;
  margin-right: 15px;
  padding-left: 5px;
}

fieldset {
  display: inline-block;
  border: 0;
  vertical-align: top;
}

fieldset input {
  /* display: inline-block; */
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.3);
  line-height: 30px;
  margin: 0 12px;
  width: 220px;
  text-transform: uppercase;
  text-align: left;
}

.action button {
  background-color: #453F35;
  vertical-align: top;
  color: #fff;
  width: 220px;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Blog Section and Aside */



.col-3-4,
.col-1-4 {
  display: inline-block;
  text-align: center;
  background-color: #FCF8F8;
  padding: 0 5px;
}

.col-1-4 {
  width: 24%;

  margin: 0 0 0 3px;
}
.col-3-4 {
  vertical-align: top;
  width: 75%;
}

.blog h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}

.blog p {
  text-align: justify;
  margin: 0 auto;
  width: 90%;
}

.main img {
  max-width: 100%;
}

article a {
  display: block;
  width: 125px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 5px 0 5px 0;
  border: solid 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

article a:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

/* Aside */

.categories {
  text-transform: uppercase;
}

.categories span {
  display: block;
  font-weight: 900;
  margin: 10px 0;
}

.categories li{
  text-align: left;
  line-height: 30px;
}
