*,
*::after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 1200px;
  background-color: #FCF8F8;
  border: solid 1px rgba(0, 0, 0, 0.05);
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header Block and Image */

h1,
h2,
h3,
.headlines,
.keywords,
.image-container {
  font-family: Oswald;
  text-transform: uppercase;
  margin: 0;
}

header {
  height: 400px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  height: 300px;
  background-color: #453F35;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  line-height: 34px;
  vertical-align: top;
}

/* Overlaid Navigation and Image */

.top {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 5%;
  height: 400px;
  overflow: hidden;
}

.primary-nav {
  display: block;
  width: 100%;
}

.fa,
.action-btn {
  display: inline-block;
  height: 44px;
  background-color: #453F35;
  padding: 12px 14px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.fa-bars {
  float: left;
}

.social-nav {
  float: right;
}

.social-nav li {
  display: inline-block;
}

.fa:hover,
.action-btn:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

.primary-nav:after {
  clear: both;
}

.image-container img {
  position: relative
  width: 100%;
}

.news {
  width: 300px;
  position: absolute;
  top: 100px;
  right: 60px;
  text-align: left;
}

.image-container h3 {
  margin: 0 auto;
  font-size: 32px;
  line-height: 35px;
}

.image-container span {
  text-transform: none;
}

/* Form stuff */

.newsletter {
  width: 90%;
  margin: 0 auto;
}

.newsletter fieldset {
  width: 100%;
}

.col-15,
.col-25,
.col-30 {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
}

.col-15 {
  width: 15%;
}

.col-25 {
  width: 25%;
}
.col-30 {
  width: 30%;
}

.newsletter label {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
}

input {
  height: 44px;
  text-transform: uppercase;
}

.txt-input {
  width: 100%;
  padding-left: 20px;
}

.action-btn {
  border: none;
  font-weight: 600;
  font-size: 12px;
}

/* Main Content */
.content-container {
  margin-top: 30px;
  overflow: hidden;
}

.col-1-4,
.col-3-4 {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  vertical-align: top;
}

.col-1-4 {
  width: 25%;
  background-color: #fff;
  padding: 40px 20px;
}
.col-3-4 {
  width: 75%;
}


.keywords {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  letter-spacing: 1px;
  padding: 5px 5px;
  margin: 10px 10px;
}

.blog-link {
  display: block;
  width: 125px;
  margin: 0 auto;
  padding: 5px 0 5px 0;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-weight: 600;
  color: #000;
}

.content-container a:hover {
  cursor: pointer;
  background-color: #453F35;
  color: #fff;
}

.blog p {
  display: block;
  font: 16px Verdana, Helvetica;
  width: 90%;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 20px;
}

.blog img {
  width: 100%;
}

.blog {
  padding-bottom: 50px;
  margin-bottom: 10px;
}

.blog-nav {
  width: 90%;
  margin: 0 auto;
  border: solid 1px #000; */
}

.blog footer {
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  border-top: solid 5px rgba(200, 200, 200, 0.3);
  width: 90%;
  height: 20px;
}

.blog footer a:hover {
  background-color: inherit;
  color: blue;
}

.blog footer div {
  height: 40px;
}

.col-1-2 {
  display: inline-block;
  width: 50%;
}

.col-1-2:first-of-type {
  text-align: left;
}

.col-1-2:last-of-type {
  text-align: right;
}

.blog-stats li {
  display: inline-block;
  padding: 0 5px;
  line-height: 40px;
}

.blog-fa {
  height: auto;
  border: 0;
  padding: 5px 5px;
  margin: 0 10px;
  color: #000;
  background-color: inherit;
}


/* COLLAGE */

.collage {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 3px;
  height: 500px;
}




.search input {
  width: 75%;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 20px;
  background-color: #FCF8F8;
  border: none;
}


.content-container img {
  width: 100%;
}

/* Aside */
.aside-image {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.aside-image img {
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  width: auto;
}

.aside-image-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  color: #fff;
  font-size: 32px;
}

.categories {
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  margin: 3px auto;
}

.categories ul {
  font-size: 18px;
  margin-bottom: 10px
}

.categories a {
  display: block;
  padding: 6px 0;
}

.categories li {
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

.categories li:last-child {
  border: none;
}

.categories span {
  display: inline-block;
}

.category {
  width: 50%;
  text-align:left;
}

.hits {
  width: 50%;
  text-align: right;
}

.aside-image-txt-black {
  color: #000;
  text-shadow: 2px 2px 0 #fff,
              -2px -2px 0 #fff;
  left: 10%;
}
