*,
*:after,
*:before {
  webkit-box-sizing: border-box;
     moz-box-sizing: border-box;
         box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #141414;
}


h2 {
  text-transform: uppercase;
}

/* Header */

header {
  /* border: solid 1px blue; */
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.primary-header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
}


.logo {
  display: flex;
  align-items: : center;
  margin-left: 5%;
  color: #fff;
}

.logo #name {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo h1,
.logo h3 {
  margin: 0 0;
}

.logo h1 {
  font-family: 'Faster One', cursive;
  font-size: 48px;
  text-align: right;

}

.logo h3 {
  font-size: 20px;
  line-height: 18px;
  font-family: 'Bangers';
  letter-spacing: 2px;

}


/* MENU LINK */

.primary-nav {
  align-content: flex-end;
  width: 20px;
  margin-right: 5%;
}

.menu-icon {
  text-align: center;
  width: 100%;

}

.menu-icon div {
  margin: 0 auto;
  width: 100%;
  height: 0;
  padding-top: 10%;
  background-color: #fff;
  margin-bottom: 20%;
}

.menu-icon #short-h-bar {
  width: 75%;
}

/* ==============================
SIDE NAV
============================== */

.side-nav {
  width: 15%;
  height: 650px;
  /* border: solid 1px white; */
  float: left;
  margin-right: 0;
  position: relative;
}



.side-nav ol {
  margin-top: 0;
  margin-left: 10%;
  padding-left: 0;
  counter-reset: ol-item;
}

.side-nav li {
  display: flex;
  align-items: center;
  color: #fff;
  list-style-type: none;
  counter-increment: ol-item;
  margin: 0 0;
  height: 130px;
}

.side-nav li span {
  padding-left: 30%;
  width: 100%;
}

.side-nav li:before {
  content: "0" counter(ol-item) "";
}

.side-nav div {
  height: 100%;
  width: 2px;
  position: absolute;
  top: 0;
  left: 35%;
  background-color: rgba(142,142,142, 0.3);


}


/* ========================================
MAIN CONTAINER
======================================== */

.outer-container {
  margin-left: 5%;
  float: right;
  width: 80%;
}

.container {
  height: 500px;
  position: relative;
}

.container #home-img {
  width: 40%;
  max-height: 100%;
  position: absolute;
  left: 60%;
  top: 0%;
}

.container .image-text {
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 72px;
  position: absolute;
  line-height: 60px;
}

#home-caption {
  width: 20%;
  top: 10%;
  left: 10%;

}

/* ==================================
COLUMN CONTAINER
================================== */

.columns {
  margin: 0 auto;
  width: 100%;
  display: flex;
  color: rgba(142,142,142, 0.5);;
}


.columns a {
  width: 30%;
  margin: 2%;
}

.columns a:hover {
  color: #fff;
}
