*,
*:after,
*:before {
  webkit-box-sizing: border-box;
     moz-box-sizing: border-box;
         box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #141414;
  font-size: 24px;
  color: #fff;
  font-family: Arial;
}


h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0 0;
}

li {
  list-style-type: none;
}


/* ====================================
=======================================
=======================================
--------------HEADER-------------------
=======================================
=======================================
======================================= */

.header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: #fff;
}

.logo #name {
  display: flex;
  align-items: center;
  margin-left: 10px;
}


.logo h1 {
  font-family: 'Faster One', cursive;
  font-size: 200%;
  text-align: right;

}

.logo h3 {
  font-family: 'Bangers';
  font-size: calc(20/24*100%);
  line-height: calc(22/24*100%);
  letter-spacing: 2px;

}


/* --------- PRIMARY NAVIGATION ----------- */
.primary-nav {
  align-content: flex-end;
  width: 20px;
  margin-right: 5%;
}

.menu-icon {
  text-align: center;
  width: 100%;
}

.menu-icon div {
  margin: 0 auto;
  width: 100%;
  height: 0;
  padding-top: 10%;
  background-color: #fff;
  margin-bottom: 20%;
}

.menu-icon #short-h-bar {
  width: 75%;
}

/* ====================================
=======================================
=======================================
-----------MAIN SECTION----------------
=======================================
=======================================
======================================= */

.wrapper {
  /* border: solid 1px pink; */
  height: 650px;
  width: 100%;
  /* height: 1000px; */
  display: flex;
  /* overflow-y: scroll; */
  overflow: hidden;
}


/* -----------SIDE-NAVIGATION---------------- */


/* .side-nav {
} */

.side-nav {
  height: 100%;
  width: 10%;
  font-size: 60%;
  display: flex;
  position: relative;
  justify-content: center;
}



.side-nav ol,
.side-nav ul {
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  width: 50%;
  /* border: solid 1px red; */
}

.side-nav li {
  list-style-type: none;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-nav ol {
  counter-reset: ol-item;
}

.side-nav ol li {
  counter-increment: ol-item;
}

.side-nav ol li:before {
  content: "0" counter(ol-item) "";
}

.side-nav li:hover {
  cursor: pointer;
}

#page-descr {
  padding-left: 5%;
  padding-right: 5%;
}



.scroll-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.scroll-bar div {
  height: 100%;
  width: 2px;
  background-color: rgba(142,142,142, 0.3);
}

#bullets {
  position: absolute;
  width: 100%;
}

.bullet {
  width: 2px;
  height: 2px;
  background-color: #fff;
}

/* -----------------MAIN PANEL------------------ */

.main-content {
  margin: 0 0;
  /* position: relative; */
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: solid 1px white; */
}

@media (max-width: 1180px) {
  .side-nav {
    display: none;
  }
  .main-content {
    width: 100%;
  }
}

.pages {
  margin: 0 0;
  padding: 0 0;
  height: 100%;
  width: 100%:
}

.pages li {
  height: 650px;
  width: 100%;
}

#home {
  width: 100%;
  height: 75%;
  position: relative;
  /* border: solid 1px red; */
}

#home img {
  height: 100%;
  position: absolute;
  left: 60%;
  bottom: 0%;
}

#home p {
  display: block;
  width: 40%;
  top: 5%;
  left: 10%;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 72px;
  position: absolute;
  line-height: 60px;
}



/* ==================================
COLUMN CONTAINER
================================== */

.columns {
  font-size: 60%;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  color: rgba(142,142,142, 0.5);
  height: 25%;
}


.columns div {
  margin: 0 5%;
  /* border: solid 1px pink; */
  width: 30%;
}

.columns div:hover {
  cursor: pointer;
  color: #fff;
}
