*,
*:before,
*:after {
  webkit-box-sizing: border-box;
     moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #fff;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: lighter;
}


.frame {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #1c2e38;
  border-radius: 3px;
}

.headline {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding: 50px 10px 0 10px;
  margin-bottom: 30px;
}


/* CONTAINERS FOR STATS */
.primary-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-size: 20px;
}


/* PROGRESS BARS AS BORDERS */
.primary-active-border {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #26e1ae;
  background-image:
      linear-gradient(30deg, #26e1ae 50%, transparent 50%),
      linear-gradient(90deg, #1b2a33 50%, transparent 50%);
  text-align: center;
}

.active-border {
  background-color: #55d1db;
  background-image:
      linear-gradient(30deg, #55d1db 50%, transparent 50%),
      linear-gradient(90deg, #1b2a33 50%, transparent 50%);
  text-align: center;
}

.active-border-1 {
  background-image:
      linear-gradient(-30deg, #55d1db 50%, transparent 50%),
      linear-gradient(90deg, #1b2a33 50%, transparent 50%);
}

.active-border-2 {
  background-image:
      linear-gradient(60deg, #1b2a33 50%, transparent 50%),
      linear-gradient(90deg, #1b2a33 50%, transparent 50%);
}


/* GROUP OF AUXILIARY CONTAINERS */
.row {
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;
  height: auto;
  display: flex;
}

.container {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  font-size: 90%;
}

.type {
  font-size: 80%;
  color: rgba(255,255,255,0.5);
}

/* CONTAINER FOR TEXT STYLING SUPPORT */
.circle-container {
  position: relative;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #1c2e38;
}


/* HOVER CIRCLE TO HIGHLIGHT STAT */

.hover-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%
}

.hover-circle:hover {
  background-color: rgba(255,255,255,0.2);
}
