<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Template Duplication 1 (Practice)</title>
    <link rel="stylesheet" href="assets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <header>
      <h1 class="name">Spinal Performance</h1>

      <nav class="social-nav">
        <ul>
          <li><a href="#" class="fa fa-instagram"></a></li>
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-linkedin"></a></li>
        </ul>
      </nav>
      <img src="https://www.dukehealth.org/sites/default/files/thinkstockphotos-480125956.jpg" alt="Website Image"/>
    </header>

    <form>
      <fieldset class="information">
        <span>signup to newsletter</span>
        <input type="text" name="name" value="Your Name">
        <input type="text" name="email" value="Your Email">
      </fieldset>
      <fieldset class="action">
        <button name="subscribe">
          <strong>Subscribe Now</strong>
        </button>
      </fieldset>
    </form>

  </body>
  </html>
