/* ---------------Universal Styles-------------------- */
/* ================================================== */

a {
  text-decoration: none;
  color: inherit;
}

*,
*:before,
*:after {
  webkit-box-sizing: border-box;
     moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  width: 960px;
  background-color: #E9F7EC;
  font-family: sans-serif;
}

input {
  text-transform: uppercase;
}


/* ----------------Header Styles--------------------- */
/* ================================================== */

h1,
h2,
h3 {
  margin: 0;
}


header {
  padding: 10px 10px;
  height: 200px;
  border-radius: 5px;
  background-color: #F97170;
  color: #fff;
  box-shadow: -3px 3px 10px #000;
}

header ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

header li {
  list-style: none;
}

header div {
  float: right;
  margin-bottom: 20px;
}

.logo {
  float: left;
}

header p {
  clear: both;
  width: 50%;
  text-align: justify;
}

form {
  width: 50%;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}

.card {
  margin: 10px 5px;
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  padding: auto;
  text-align: center;
}
/*
.header {
  font-size
} */

.header {
  /* font-size: 24px; */
  width: 65%;
  background-color: #fff;
  color: green;
  border: solid 1px #000;
  margin-right: 20px;
}

.header h3 {
  margin-top: 10px;
}

.card p {
  vertical-align: middle;
  border: solid 1px #000;
  width: 55%;
  height: 100%;
  text-align: left;
}
