*,
*:after,
*:before {
  webkit-box-sizing: border-box;
     moz-box-sizing: border-box;
         box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  color: #4b7080;
}

.frame {
  width: 400px;
  height: 400px;
  background: linear-gradient(45deg, #fda433, #fdc833);
  border-radius: 4px;
  position: relative;
}

.container {
  position: absolute;
  top: 60px;
  left: 80px;
  width: 240px;
  height: 280px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

.header {
  margin: 0 auto;
  text-align: center;
  width: 180px;
  padding-bottom: 20px;
  border-bottom: solid 1px #d3dbdf;
  font-size: 80%;
  margin-top: 20px;
}

h1,
h4 {
  margin: 3px 0;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-weight: 300;
}

ul {
  list-style-type: none;
  font-size: 12px;
  padding: 0;
  margin: 0 auto;
  width: 180px;
}

li {
  margin: 22px auto;
  position: relative;
}

.fas,
.far {
  position: absolute;
  right: 0;
}
