<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Bangers|Titan+One|Titillium+Web:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <script src="assets/jquery.js"></script>
    <script src="assets/script.js"></script>
  </head>

  <body>

    <!-- Header -->
    <header class="primary-header">
      <div class="logo">
        <div id="name">
          <h1>1</h1>
          <h3>Stop<br>Methods</h3>
        </div>
      </div>
      <nav class="primary-nav">
        <a href="#">
          <div class="menu-icon">
            <div></div>
            <div id="short-h-bar"></div>
            <div></div>
          </div>
        </a>
      </nav>
    </header>

    <section>
      <nav class="side-nav">
        <ol>
          <a href="#"><li><span>Home</span></li></a>
          <a href="#"><li><span>Works</span></li></a>
          <a href="#"><li><span>About</span></li></a>
          <a href="#"><li><span>Contact</span></li></a>
          <a href="#"><li><span>Hire Us</span></li></a>
        </ol>
        <div></div>
      </nav>
      <div class="outer-container">
        <div class="container">
          <div id="home-caption" class="image-text">Bringing your next idea to light</div>
          <img id="home-img" src="assets/javid-naderi-1176566-unsplash.jpg">
        </div>

        <div class="columns">
          <a href="#">
            <h2>Spinal Performance</h2>
            <p>Yadda yadda yadda, we work with spinal performance</p>
          </a>
          <a href="#">
            <h2>Spinal Performance</h2>
            <p>Yadda yadda yadda, we work with spinal performance</p>
          </a>
          <a href="#">
            <h2>Spinal Performance</h2>
            <p>Yadda yadda yadda, we work with spinal performance</p>
          </a>
        </div>
      </div>
    </section>




  </body>

</html>
