<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Bangers|Titan+One" rel="stylesheet">
  </head>

  <body>

    <!-- Header -->
    <header class="container">
      <div class="logo">
        <div id="insignia"></div>
        <div id="name">
          <h1>1</h1>
          <h3>Stop<br>Methods</h3>
        </div>
      </div>
      <nav class="primary-nav"></nav>
    </header>

  </body>

</html>
