<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Bangers|Titan+One|Titillium+Web:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <script src="assets/jquery.js"></script>
    <script src="assets/script.js"></script>
  </head>

  <body>

    <!-- Header -->
    <header class="header">
      <div class="logo">
        <div id="name">
          <h1>1</h1>
          <h3>Stop<br>Methods</h3>
        </div>
      </div>
      <nav class="primary-nav">
        <a href="#">
          <div class="menu-icon">
            <div></div>
            <div id="short-h-bar"></div>
            <div></div>
          </div>
        </a>
      </nav>
    </header>

    <div class="wrapper">
      <nav class="side-nav nav--is-active">
        <ol>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
        <ul class="side-nav-ul" id="page-descr">
          <li><span>Home</span></li>
          <li><span>Works</span></li>
          <li><span>About</span></li>
          <li><span>Contact</span></li>
          <li><span>Hire us</span></li>
        </ul>

        <div class="scroll-bar">
          <div id="scroll-indicator"></div>
        </div>

        <ul class="side-nav-ul" id="bullets">
          <li><div class="bullet"></div></li>
          <li><div class="bullet"></div></li>
          <li><div class="bullet"></div></li>
          <li><div class="bullet"></div></li>
          <li><div class="bullet"></div></li>

        </ul>
      </nav>

      <div class="main-content">
        <ul class="pages">
          <li>
            <div id="home">
              <img src="assets/javid-naderi-1176566-unsplash.jpg">
              <p>Shining a light on your ideas</p>
            </div>
            <div class="columns">
              <div>
                <h2>Chech and Chech</h2>
                <p>Making sure that you get super cool videos and ideas based on your needs and clientelle</p>
              </div>
              <div>
                <h2>Chech and Chech</h2>
                <p>Making sure that you get super cool videos and ideas based on your needs and clientelle</p>
                <!-- <p>Making sure that you get super cool videos and ideas</p> -->
              </div>
              <div>
                <h2>Chech and Chech</h2>
                <p>Making sure that you get super cool videos and ideas based on your needs and clientelle</p>
                <!-- <p>Making sure that you get super cool videos and ideas</p> -->
              </div>
            </div>

          </li>
          <li>
            <div class="breh" id="home">
              <img src="assets/javid-naderi-1176566-unsplash.jpg">
              <p>Shining a light on your fucking damn ideas</p>
            </div>
            <div class="columns">
              <div>
                <h2>Chech and Chech</h2>
                <p>Making sure that you get super cool videos and ideas based on your needs and clientelle</p>
              </div>
              <div>
                <h2>Chech and Chech</h2>
                <p>Making sure that you get super cool videos and ideas based on your needs and clientelle</p>
                <!-- <p>Making sure that you get super cool videos and ideas</p> -->
              </div>
              <div>
                <h2>Chech and Chech</h2>
                <p>Making sure that you get super cool videos and ideas based on your needs and clientelle</p>
                <!-- <p>Making sure that you get super cool videos and ideas</p> -->
              </div>
            </div>

          </li>
        </ul>


      </div>
    </div>


  </body>

</html>
